<div class="mdl-cell cell" style={{@cellStyle}}>
    <button disabled={{@disabled}} class="mdl-button" type="button" {{on "click" @onClick}}>
        <i style={{@markerStyle}} class="material-icons-outlined {{@icon}}">{{@icon}}</i>
    </button>
</div>
